@charset "UTF-8";

body {
    background-color: aliceblue;
}

div > img {
    width: 250px;
    display: block;
    margin: 0 auto;
}

footer {
    color: black;
    font-size: large;
    text-align: center;
}